# MacOS metadata.
.DS_Store

# Byte-compiled Python code.
*.py[cod]
__pycache__/
.cache

# Common venv names.
/*venv/
/venv*/

# Ignore files created during installation and building.
*.egg-info
.eggs/
/assets/
/build/
/dist/
/lab2d/

# Test cache
.pytest_cache

# Type checking
.pytype

# Saved models.
/examples/results/
/meltingpot/assets/
.vscode/launch.json
.gitignore
results/sb3/harvest_open_ppo_paramsharing/PPO_3/events.out.tfevents.1717239381.Tobiass-MacBook-Pro.local.40689.0
results/sb3/harvest_open_ppo_paramsharing/PPO_2/events.out.tfevents.1717238842.Tobiass-MacBook-Pro.local.40453.0
results/sb3/harvest_open_ppo_paramsharing/PPO_1/events.out.tfevents.1717238472.Tobiass-MacBook-Pro.local.40250.0
examples/pettingzoo/origin_sb3_train.py
results/sb3/harvest_open_ppo_paramsharing
actions_boat_no_inf.png
inf_rews_boat_no_inf.png
rewards_boat_no_inf.png
metrics_*
actions_crowded_no_inf.png
actions_eight_no_inf.png
actions_harvest_no_inf.png
inf_rews_crowded_no_inf.png
inf_rews_eight_no_inf.png
inf_rews_harvest_no_inf.png
rewards_crowded_no_inf.png
rewards_eight_no_inf.png
rewards_harvest_no_inf.png
summed_acts_crowded_no_inf.png
summed_acts_eight_no_inf.png
summed_acts_harvest_no_inf.png
results/sb3/cc_Crowded/SocInfPPO_full_inf_1/events.out.tfevents.1727591405.Tobiass-MacBook-Pro.local.96983.0
results/sb3/cc_Crowded/SocInfPPO_full_inf_2/events.out.tfevents.1727595696.Tobiass-MacBook-Pro.local.97782.0
results/sb3/cc_Crowded/SocInfPPO_full_inf_3/events.out.tfevents.1727596257.Tobiass-MacBook-Pro.local.97966.0
results/sb3/cc_Crowded/SocInfPPO_full_inf_4/events.out.tfevents.1727603991.Tobiass-MBP.fritz.box.98893.0
results/sb3/cc_Crowded/SocInfPPO_full_inf_4/model.zip
results/sb3/cc_Eight/best_model.zip
results/sb3/cc_Eight/SocInfPPO_full_inf_1/events.out.tfevents.1727668537.Tobiass-MacBook-Pro.local.8625.0
