# MacOS metadata.
.DS_Store

# Byte-compiled Python code.
*.py[cod]
__pycache__/
.cache

# Common venv names.
/*venv/
/venv*/

# Ignore files created during installation and building.
*.egg-info
.eggs/
/assets/
/build/
/dist/
/lab2d/

# Test cache
.pytest_cache

# Type checking
.pytype

# Saved models.
/examples/results/
/meltingpot/assets/
.vscode/launch.json
.gitignore
results/sb3/harvest_open_ppo_paramsharing/PPO_3/events.out.tfevents.1717239381.Tobiass-MacBook-Pro.local.40689.0
results/sb3/harvest_open_ppo_paramsharing/PPO_2/events.out.tfevents.1717238842.Tobiass-MacBook-Pro.local.40453.0
results/sb3/harvest_open_ppo_paramsharing/PPO_1/events.out.tfevents.1717238472.Tobiass-MacBook-Pro.local.40250.0
examples/pettingzoo/origin_sb3_train.py
results/sb3/harvest_open_ppo_paramsharing
